body {
    background-color: #222629;
    margin: 0 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-weight: bold;
    /* background-image: url("../images/6452.jpg"); */
}

header {
    width: 90%;
    height: 40px;
    background-color: #61892F; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5% 0 5%;
}

.title {
    font-weight: bold;
}

.container{
    width: 90%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: 3em 5% 0 5%;
    align-items: flex-end;
}

#chartsDiv > div {
    margin-bottom: 2rem;
    width: 100%;
}

#chartsDiv{
    width: 70%;
}

#settings{
    width: 20%;
    align-items: center;
    background-color: #474B4F;
    border-radius: 10px;
    margin-bottom: 2rem;
}

button, select{
    background-color: #86C232;
    border-radius: 25px;
    border: none;
    padding: 7px;
}

button:hover, select:hover {
    background-color: #61892F;
}

form {
    padding: 50px;
}

form .row {
    margin: 1rem 0 1rem 0;
}

div > input {
    margin-top: 0.5rem;
}

span {
    font-size: 1.2rem;
    color: #86C232;
}

.flipRigth{
    transform: rotate(-720deg);
    transition-duration: 3s;
}
.flipLeft{
    transform: rotate(720deg);
    transition-duration: 3s;
}
