body {
    background-color: #222629;
    margin: 0 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-weight: bold;
}

header {
    width: 100%;
    height: 40px;
    background-color: #61892F; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5% 0 5%;
}

.title {
    font-weight: bold;
}

.container{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3em 5% 0 5%;
}

#chart {
    width: 50%;
    height: 500px;
}

#settings{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button, select{
    background-color: #86C232;
    border-radius: 25px;
    border: none;
    padding: 7px;
}

button:hover, select:hover {
    background-color: #61892F;
}

form {
    background-color: #474B4F;
    height: 100%;
    width: 40%;
    border-radius: 10px;
    padding: 50px;
}

form .row {
    margin-top: 30px;
}

.flipRigth{
    transform: rotate(-720deg);
    transition-duration: 3s;
}
.flipLeft{
    transform: rotate(720deg);
    transition-duration: 3s;
}

body {
    background-image: url("../images/background.jpg");
   }
